* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
  outline: none;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
